body {
    font-family:sans-serif;
}
.wrapper {
    max-width: 56.25em;
    margin: 0 auto;
    box-shadow: -0.0625em 0.1875em 0.3125em 0em #cacaca;
    background: #e6e6fa;
}
nav ul {
    list-style-type:none;
}
nav ul li {
    display:inline-block;
}
    nav ul li a {
        color: #00a3ff;
        text-transform: uppercase;
        margin-right: 1.25em;
        text-decoration:none
    }
    nav ul li a:hover {
        color: #00b3ff;

    }
header {
    background: #e6e6e6;
    padding: 0.625em 0;
}
section {
    padding:1.25em;
}
section img, section iframe {
    max-width:100%;
}
h1 {
    color: #0068ff;
    font-size: 2.25em;
}
h2 {
    color: #0052c8;
}
h3 {
    text-decoration:underline;
}

footer {
    background: #e6e6e6;
    padding:0.625em;
}
#map {
 width: 600px;
  height: 550px;
  margin: 100px auto;
}
body {
  background-color: lightblue;
}
div#page3{background-color:#808080;}

